.Person {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px rgba( 0, 0, 0, .5);
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
}

@media only screen and ( min-width: 500px ) {
    .Person {
        width: 450px;
    }
}