.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Button {
    background-color: green;
    color: #fff;
    font: inherit;
    border: 1px solid blue;
    padding: 16px;
    cursor: pointer;
}

.Button:hover {
    background-color: lightgreen;
    color: #000;
}

.Button.Red {
    background-color: red;
}

.Button.Red:hover {
    background-color: salmon;
}
